body{
    background-color: rgb(212, 93, 13);
}

.container{
    max-width: 700px;
    margin: 0 auto;
    font-size: 2.5rem;
    text-align: center;
}

.container header{
    margin: 30% 0 20px;
    font-size: 4rem;
}

.container section{
    background-color: rgb(214, 212, 212);
    border-radius: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.container section .form-content{
    padding: 10px;
    text-align: left;
}

.container section .form-content input{
    line-height: 25px;
}

.container section .form-content input[type="button"]{
    border: none;
    border-radius: 5px;
    padding: .5%;
    width: 60px;
    background-color: rgb(212, 116, 13);
    cursor: pointer;
    transition: 200ms;
}

.container section .form-content input[type="button"]:hover{
    background-color: rgb(219, 146, 68);
}

footer{
    margin-top: 15px;
}