.container{
    width: 700px;
    height: 100%;
    margin: 0 auto;
    padding: ;
    text-align:center
}

.container header{
    width: 100%;
    font-size: 45px;
    margin: 10px;
}

.dado-img img{
    width: 300px;
    height: 150px;
    margin: 0 auto;
    background-size: cover;
}

.button-container{
    margin: 20px 0 10px 0
}

.button-container input[type="button"]{
    width: 150px;
    padding: 2%;
    border: none;
    background-color: rgb(190, 187, 187);
    cursor: pointer;
    transition: 0.5s;
}

.button-container input[type="button"]:hover{
    background-color: black;
    color: white;
}

footer{
    margin-top: 15px;
    font-size: 15px;
}